# Q-learning project
This treasure hunt game is build in order to implement reinforcement learning algorithm. A treasure map of 5x5 table is designed, with several obstacle and 1 monster and 1 treasure at end. Q-Learning algorithm is used to predict the efficient moves in this assignment.

In [ ]:
#Importing libraries
import pandas as pd
import numpy as np
import random
from PIL import Image
import matplotlib.pyplot as plt

In [ ]:
# initialize learning rate
learning_rate = 0.8

# import analog map

Reward table consist of actions(row) on each position(column) with a given reward. This is fixed if we have a fixed map with certain obstacles and monter and treasure.

position matrix is given as order shown.

Defining states as in Q-Table where columns are the actions and the rows are the states.

[add pic]

Each Q-table score will be the maximum expected future reward to get if it takes that action at that state.Improvements on Q-Table would be made during each iteraction.

Q-Table is initialized with 25x5 array of zeros where each row is a state and 5 columns correspond to the actions up/down/left/right/neutral as is represented in reward table.

In [ ]:
 # initialize Q-table
 # specify 5 actions in order(U, D, L, R, N)
 # reward for blank box 1, obstacle -5, monster -10, treasure +10, no move 0
 reward_table = np.array([[0, 1, 0, -5, 1],
              [0, -5, 1, 1, -5],
              [0, 1, -5, 1, 1],
              [0, 1, 1, 10, 1],
              [0, -5, 1, 0, 10],
              [1, 1, 0, -5, 1],
              [-5, 1, 1, 1, -5],
              [1, -5, -5, 1, 1],
              [1, 1, 1, -5, 1],
              [10, -10, 1, 0, -5],
              [1, 1, 0, 1, 1],
              [-5, 1, 1, -5, 1],
              [1, 1, 1, 1, 1, -5],
              [1, 1, -5, -10, 1],
              [-5, 1, 1, 0, -10],
              [1, 1, 0, 1, 1],
              [1, 1, 1, 1, 1],
              [-5, -5, 1, 1, 1],
              [1, 1, 1, 1, 1],
              [-10, -5, 1, 0, 1],
              [1, 0, 0, 1, 1],
              [1, 0, 1, -5, 1],
              [1, 0, 1, 1, -5],
              [1, 0, -5, -5, 1],
              [1, 0, 1, 0, -5]                        
              ])
 q_table = np.zeros((25,5))
 #q_table
 #reward_table

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray

array([list([0, 1, 0, -5, 1]), list([0, -5, 1, 1, -5]),
       list([0, 1, -5, 1, 1]), list([0, 1, 1, 10, 1]),
       list([0, -5, 1, 0, 10]), list([1, 1, 0, -5, 1]),
       list([-5, 1, 1, 1, -5]), list([1, -5, -5, 1, 1]),
       list([1, 1, 1, -5, 1]), list([10, -10, 1, 0, -5]),
       list([1, 1, 0, 1, 1]), list([-5, 1, 1, -5, 1]),
       list([1, 1, 1, 1, 1, -5]), list([1, 1, -5, -10, 1]),
       list([-5, 1, 1, 0, -10]), list([1, 1, 0, 1, 1]),
       list([1, 1, 1, 1, 1]), list([-5, -5, 1, 1, 1]),
       list([1, 1, 1, 1, 1]), list([-10, -5, 1, 0, 1]),
       list([1, 0, 0, 1, 1]), list([1, 0, 1, -5, 1]),
       list([1, 0, 1, 1, -5]), list([1, 0, -5, -5, 1]),
       list([1, 0, 1, 0, -5])], dtype=object)

# Initialize Transition Table

The transition table lays out all the possible movements to another state given the current state. The invalid move is marked as -1 and no movement is marked as the corresponding state number. The transition table will be referred to for tracing out the path to treasure chest through the maze where value represents positions of the map.

In [ ]:
#Initialize the transition matrix
transition_table = np.array([[-1, 5, -1, 1, 0],
              [-1, 6, 0, 2, 1],
              [-1, 7, 1, 3, 2],
              [-1, 8, 2, 4, 3],
              [-1, 9, 3, -1, 4],
              [0, 10, -1, 6, 5],
              [1, 11, 5, 7, 6],
              [2, 12, 6, 8, 7],
              [3, 13, 7, 9, 8],
              [4, 14, 8, -1, 9],
              [5, 15, -1, 11, 10],
              [6, 16, 10, 12, 11],
              [7, 17, 11, 13, 12],
              [8, 18, 12, 14, 13],
              [9, 19, 13, -1, 14],
              [10, 20, -1, 16, 15],
              [11, 21, 15, 17, 16],
              [12, 22, 16, 18, 17],
              [13, 23, 17, 19, 18],
              [14, 24, 18, -1, 19],
              [15, -1, -1, 21, 20],
              [16, -1, 20, 22, 21],
              [17, -1, 21, 23, 22],
              [18, -1, 22, 24, 23],
              [19, -1, 23, -1, 24]
              ])

#Initialize Action Table

The action table represents the valid actions that can be taken by the agent at each position(0-24 in columns). Here 'up, down, left, right and no action' are encoded as 0, 1, 2, 3 and 4 respectively. this table should be checked before each action.

In [ ]:
#Initialize the action
#0-up, 1-down, 2-left, 3-right, 4-No action
action_table = np.array([[1, 3, 4],
            [1, 2, 3, 4],
            [1, 2, 3, 4],
            [1, 2, 3, 4],
            [1, 2, 4],
            [0, 1, 3, 4],
            [0, 1, 2, 3, 4],
            [0, 1, 2, 3, 4],
            [0, 1, 2, 3, 4],
            [0, 1, 2, 4],
            [0, 1, 3, 4],
            [0, 1, 2, 3, 4],
            [0, 1, 2, 3, 4],
            [0, 1, 2, 3, 4],
            [0, 1, 2, 4],
            [0, 1, 3, 4],
            [0, 1, 2, 3, 4],
            [0, 1, 2, 3, 4],
            [0, 1, 2, 3, 4],
            [0, 1, 2, 4],
            [0, 3, 4],
            [0, 2, 3, 4],
            [0, 2, 3, 4],
            [0, 2, 3, 4],
            [0, 2, 4]
            ])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray

# Running reinforcement learning

Q-Learning attempts to learn the value of being in a given state, and taking a specific action there.

Bellman Equation is used here to update our Q-Table which is initialized above. Q(s,a) = r + γ(max(Q(ś,á))

Updated Q(state,action)←(1−α)Q(state,action)+α(reward γmaxaQ(next state,all actions))

' α ' is the learning rate. ‘ s ’ is current state, ‘ a ’ is the action the agent takes from the current state, ‘ ś ’ represents the state resulting from the action. ‘ r ’ is the reward for taking the action and ‘ γ ’ is the discount factor. So, the Q value for the state ‘ ś ’ taking the action ‘ á ’ is the sum of the instant reward and the discounted future reward (value of the resulting state). The discount factor ‘ γ ’ determines the importance of future rewards. 

to sum up the process of Q-learning:

* Initialize the Q-table by all zeros.
* Start exploring actions: For each state, select any one among all possible actions for the current state (S).
* Travel to the next state (S') as a result of that action (a).
* For all possible actions from the state (S') select the one with the highest Q-value.
* Update Q-table values using the equation.
* Set the next state as the current state.
* If goal state is reached, then end and repeat the process.

In [ ]:
# The agent will be trained for 500 iterations
# The iterations will run until all the values become constant

for i in range(500):
    #Start with the first most state
    start = 0
    current = start
    
    #Keep moving forward until the goal state is reached
    while current != 24:
        #Select one among all possible actions for the current state
        action = random.choice(action_table[current])
        
        #Travel to the next state as a result of the action taken previously
        next_state = transition_table[current][action]
        future_reward = []
        
        #Add all the current rewards value for all possible actions
        for action_next in action_table[next_state]:
            future_reward.append(q_table[next_state][action_next])
        
        #For all possible actions from the next state, select the one with highest Q value
        q_state = reward_table[current][action] + learning_rate*max(future_reward)
        
        #Update the Q table with new reward value
        q_table[current][action] = q_state
        
        #Set the next state as the current state in order to move forward
        current = next_state

In [ ]:
#The final Q-table with all updated reward values
q_table

array([[ 0.       , 15.9056   ,  0.       , 22.04     , 18.632    ],
       [ 0.       , 17.432    , 18.632    , 33.8      , 22.04     ],
       [ 0.       , 28.04     , 22.04     , 41.       , 33.8      ],
       [ 0.       , 33.8      , 33.8      , 50.       , 41.       ],
       [ 0.       , 35.       , 41.       ,  0.       , 50.       ],
       [18.632    , 13.72448  ,  0.       , 17.432    , 15.9056   ],
       [22.04     , 14.9456   , 15.9056   , 28.04     , 17.432    ],
       [33.8      , 17.432    , 17.432    , 33.8      , 28.04     ],
       [41.       , 28.04     , 28.04     , 35.       , 33.8      ],
       [50.       , 18.       , 33.8      ,  0.       , 35.       ],
       [15.9056   , 14.437184 ,  0.       , 14.9456   , 13.72448  ],
       [17.432    , 16.79648  , 13.72448  , 17.432    , 14.9456   ],
       [28.04     , 19.7456   , 14.9456   , 28.04     , 23.432    ],
       [33.8      , 23.432    , 17.432    , 18.       , 28.04     ],
       [35.       , 19.7456   , 28.04     ,  0.       , 18.       ],
       [13.72448  , 12.5497472,  0.       , 16.79648  , 14.437184 ],
       [14.9456   , 14.437184 , 14.437184 , 19.7456   , 16.79648  ],
       [17.432    , 10.79648  , 16.79648  , 23.432    , 19.7456   ],
       [28.04     , 19.7456   , 19.7456   , 19.7456   , 23.432    ],
       [18.       , -5.       , 23.432    ,  0.       , 19.7456   ],
       [14.437184 ,  0.       ,  0.       , 14.437184 , 12.5497472],
       [16.79648  ,  0.       , 12.5497472, 10.79648  , 14.437184 ],
       [19.7456   ,  0.       , 14.437184 , 19.7456   , 10.79648  ],
       [23.432    ,  0.       , 10.79648  , -5.       , 19.7456   ],
       [ 0.       ,  0.       ,  0.       ,  0.       ,  0.       ]])

# Result
show the best route to seek treasure referring to the final Q-table

In [ ]:
#Convert to dataframe for better visualization
q_df = pd.DataFrame(q_table)
q_df

            0          1          2          3          4
0    0.000000  15.905600   0.000000  22.040000  18.632000
1    0.000000  17.432000  18.632000  33.800000  22.040000
2    0.000000  28.040000  22.040000  41.000000  33.800000
3    0.000000  33.800000  33.800000  50.000000  41.000000
4    0.000000  35.000000  41.000000   0.000000  50.000000
5   18.632000  13.724480   0.000000  17.432000  15.905600
6   22.040000  14.945600  15.905600  28.040000  17.432000
7   33.800000  17.432000  17.432000  33.800000  28.040000
8   41.000000  28.040000  28.040000  35.000000  33.800000
9   50.000000  18.000000  33.800000   0.000000  35.000000
10  15.905600  14.437184   0.000000  14.945600  13.724480
11  17.432000  16.796480  13.724480  17.432000  14.945600
12  28.040000  19.745600  14.945600  28.040000  23.432000
13  33.800000  23.432000  17.432000  18.000000  28.040000
14  35.000000  19.745600  28.040000   0.000000  18.000000
15  13.724480  12.549747   0.000000  16.796480  14.437184
16  14.945600  14.437184  14.437184  19.745600  16.796480
17  17.432000  10.796480  16.796480  23.432000  19.745600
18  28.040000  19.745600  19.745600  19.745600  23.432000
19  18.000000  -5.000000  23.432000   0.000000  19.745600
20  14.437184   0.000000   0.000000  14.437184  12.549747
21  16.796480   0.000000  12.549747  10.796480  14.437184
22  19.745600   0.000000  14.437184  19.745600  10.796480
23  23.432000   0.000000  10.796480  -5.000000  19.745600
24   0.000000   0.000000   0.000000   0.000000   0.000000

ref:

https://www.learndatasci.com/tutorials/reinforcement-q-learning-scratch-python-openai-gym/

https://www.freecodecamp.org/news/an-introduction-to-q-learning-reinforcement-learning-14ac0b4493cc/